<%= form_with(model: comment, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control", placeholder:"Descrição" %>
  </div>
  <% if @commentable.class == Post %>
    <%= form.hidden_field :post_id, value: @commentable.id %>
  <% elsif @commentable.class == Comment %>
    <%= form.hidden_field :comment_id, value: @commentable.id %>
  <% end %>
  <div class="actions">
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>