.container
  = form_with(model: comment, url: post_comments_path(post_id: @post.id), local: true) do |form|
    %p
      - if action_name == 'new'
        %h1.title Comentando postagem
      - elsif action_name == 'edit'
        Editando comentário da postagem
    .form-group
      .box
        = form.label :description, class: "block label"
        = form.text_area :description, class: "block textarea", placeholder:"Descrição"
        = form.hidden_field :post_id, value: @post.id
        = form.submit nil, class: "block button is-success"
