.container.mt-6
  %h1.title
    = "Commentarios da postagem:"
  %h2.subtitle
    = @post.description
  - @comments.each do |comment|
    .block
      .card.my-6
        .card-content
          .media
            .media-left
              %figure.image.is-48x48
                %img{:alt => "Placeholder image", :src => "https://bulma.io/images/placeholders/96x96.png"}/
            .media-content
              %p.title.is-4 
                = comment.user.email
              %p.subtitle.is-6 @johnsmith
          .content
            = comment.description
            .tags.has-addons
              .tag.is-info
                = "Curtidas"
              .tag.is-dark
                = "#{comment.likes.length} "
              .tag.is-info
                = link_to "Comentários", comment_comments_path(comment_id: comment.id), class: "has-text-white"
              .tag.is-dark
                = link_to "#{comment.comments.length}", comment_comments_path(comment_id: comment.id), class: "has-text-white"
            %br/
            .tag.is-warning
              %time{datetime: "2016-1-1"}
                = comment.created_at
        .card-footer
          - if liked? comment.likes
            = button_to 'Descurtir', root_url + "posts/#{comment.id}/likes", method: :post, class: "card-footer-item button is-danger"
          - else
            = button_to 'Curtir', root_url + "posts/#{comment.id}/likes", method: :post, class: "card-footer-item button is-info"
          = link_to 'Comentar', comment_comments_new_path(comment_id: comment.id), class: "card-footer-item button is-primary"