.mt-6.container
  %h1.title
    = t("labels.profile.add_name")
  - @errors.each do |error|
    %p{style: 'color: red'}
      = error
  = form_with(model: @user, url: users_profile_add_name_path, method: :patch) do |form|
    .box
      .form-group
        = form.label  :first_name, class: "block label"
        = form.text_field :first_name, class: "input", placeholder:"Pedro"
      .form-group.block
        = form.label :last_name, class: "block label"
        = form.text_field :last_name, class: "input", placeholder:"da Silva"
      .actions
        = form.submit t('links.profile_item.add_name'), class: "block button is-success"
