.tile.is-3
  .tile
    .tile.is-parent
      %article.tile.is-child.notification.is-dark
        = turbo_stream_from(user)
        %p.title
          = user.full_name
        %p.subtitle
          = user.id
        %figure.image.is-1by1button.block
          %img{:src => "https://bulma.io/images/placeholders/640x480.png"}
        %div{id: dom_id(user)}
          - if @current_user.follows?(user)
            = render(partial: 'unfollow_link', locals: {user: user})
          - else
            = render(partial: 'follow_link', locals: {user: user})
