.container
  = search_form_for( @q, url: search_friendships_path) do |f|
    .field.is-horizontal.mb-6
      .field-body
        = f.search_field :email_cont, class: "input is-rounded"
      .actions.ml-6
        = f.submit class: "button is-primary"
  .tile.is-ancestor.is-flex-wrap-wrap
    - @users.each do |user|
      = turbo_stream_from(user)
      .tile.is-3{id: dom_id(user)}
        = render partial: 'friendships/user', locals: {user: user, logged_user: @current_user}

