.container.mt-6
  .tile.is-ancestor.is-flex-wrap-wrap
    - @all_users.each do |user|
      .tile.is-3
        .tile
          .tile.is-parent
            %article.tile.is-child.notification.is-dark
              %p.title 
                = user.email.split('@').first
              %p.subtitle
                = user.id
              %figure.image.is-1by1button.block
                %img{:src => "https://bulma.io/images/placeholders/640x480.png"}
              - if followed? user
                %td
                  = button_to t('links.unfollow'), root_url + "all_users/#{user.id}", method: :delete, class: "button is-danger"
              - elsif follower? user
                %td
                  %span
                    = button_to t('links.follow_back'), root_url + "all_users/#{user.id}", method: :post, class: "button is-primary"
              - else
                %td
                  %span
                    = button_to t('links.follow'), root_url + "all_users/#{user.id}", method: :post, class: "button is-success"