.container.mt-6
  = search_form_for( @q, url: all_users_path) do |f|
    .field.is-horizontal.mb-6
      .field-body
        = f.search_field :email_cont, class: "input is-rounded"
      .actions.ml-6
        = f.submit class: "button is-primary"
  .tile.is-ancestor.is-flex-wrap-wrap
    - @all_users.each do |user|
      .tile.is-3
        .tile
          .tile.is-parent
            %article.tile.is-child.notification.is-dark
              %p.title 
                = user.email.split('@').first
              %p.subtitle
                = user.id
              %figure.image.is-1by1button.block
                %img{:src => "https://bulma.io/images/placeholders/640x480.png"}
              = render partial: "shared/follow_button", locals: {user: user} 