.container
  %h2.title Esqueceu sua senha?
  .box
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render "users/shared/error_messages", resource: resource
      .field.is-horizontal
        .field-label.is-normal
          = f.label :email, class: "label"
        .field-body
          .field
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-rounded"
      .field
        .field-label.is-normal
          .actions
            = f.submit "Send me reset password instructions", class: "button is-success"
          = render "users/shared/links"
