= form_with(model: post, local: true) do |form|
  .form-group
    = form.label :title
    = form.text_field :title, class: "form-control", placeholder:"Título"
  .form-group
    = form.label :description
    = form.text_field :description, class: "form-control", placeholder:"Descrição"
  .actions
    = form.submit nil, class: "btn btn-primary"
