.card.my-6.post-container
  .card-content
    .media
      .media-left
        %figure.image.is-48x48
          %img{:alt => "Placeholder image", :src => "https://bulma.io/images/placeholders/96x96.png"}/
      .media-content
        %p.title.is-4
          = post.user.full_name
      .media-right
        - if logged_user.likes?(post)
          = render partial: 'posts/dislike_link', locals: { post: post }
        - else
          = render partial: 'posts/like_link', locals: { post: post }
    .content
      %h1
        = post.title
      = post.description
      %br/
      .tag.is-warning.mb-3
        %time{datetime: "2016-1-1"}
          = distance_of_time_in_words(DateTime.now, post.created_at)
      .tags.has-addons
        .tag.is-info
          = link_to Comment.model_name.human(count: 2), post_comments_path(post_id: post.id), class: "has-text-white"
        .tag.is-dark
          = link_to "#{post.comments.length}", post_comments_path(post_id: post.id), class: "has-text-white"
  -# .card-footer
  .comments-container
    - post.comments.each do |comment|
      .columns.is-multiline
        .column
        .column.is-11
          %p.title.is-5
            = comment.user.full_name
          %p
            = comment.description
    = form_with model: post, url: add_comment_post_path(post), method: :patch do |f|
      = f.fields_for :comments, post.comments.build do |comment_form|
        = comment_form.text_field :description, class: 'input', placeholder: Comment.human_attribute_name(:description)
        = comment_form.hidden_field :user_id, value: logged_user.id, class: 'input block'
      = f.submit t('links.post.add_comment'), class: 'button'
