.card.my-6
  .card-content
    .media
      .media-left
        %figure.image.is-48x48
          %img{:alt => "Placeholder image", :src => "https://bulma.io/images/placeholders/96x96.png"}/
      .media-content
        %p.title.is-4
          = post.user.email
        %p.subtitle.is-6 @johnsmith
    .content
      %h1
        = post.title
      = post.description
      .tags.has-addons
        .tag.is-info
          = Like.model_name.human(count: 2)
        .tag.is-dark
          = "#{post.likes.length} "
        .tag.is-info
          = link_to Comment.model_name.human(count: 2), post_comments_path(post_id: post.id), class: "has-text-white"
        .tag.is-dark
          = link_to "#{post.comments.length}", post_comments_path(post_id: post.id), class: "has-text-white"
      %br/
      .tag.is-warning
        %time{datetime: "2016-1-1"}
          = distance_of_time_in_words(DateTime.now, post.created_at)
  .card-footer
    - if logged_user.likes?(post)
      = render partial: 'posts/dislike_link', locals: { post: post }
    - else
      = render partial: 'posts/like_link', locals: { post: post }
    = link_to t('links.comment.post'), post_comments_new_path(post_id: post.id), class: "card-footer-item button is-primary"
