.card.my-6.post-container
  .card-content
    .media
      .media-left
        %figure.image.is-48x48
          %img{:alt => "Placeholder image", :src => "https://bulma.io/images/placeholders/96x96.png"}/
      .media-content
        %p.title.is-4
          = post.user.full_name
      .media-right
        - if logged_user.likes?(post)
          = render partial: 'posts/dislike_link', locals: { post: post }
        - else
          = render partial: 'posts/like_link', locals: { post: post }
    .content
      %h1
        = post.title
      = post.description
      %br/
      .tag.is-warning.mb-3
        %time{datetime: "2016-1-1"}
          = distance_of_time_in_words(DateTime.now, post.created_at)
      .tags.has-addons
        .tag
          %span.has-text-grey-darker
            = Comment.model_name.human(count: 2)
        .tag
          %span.has-text-grey
            = post.comments.length
    .comments-container
      = form_with model: post, url: add_comment_post_path(post), method: :patch, class: 'my-4' do |f|
        = f.fields_for :comments, post.comments.build do |comment_form|
          - border_color_class = post.errors['comments.description'].present? ? 'is-danger' : ''
          = comment_form.text_field :description, class: "input is-rounded #{border_color_class}", placeholder: Comment.human_attribute_name(:description)
          %p.help.is-danger
            - post.errors['comments.description'].each do |error|
              = error
          = comment_form.hidden_field :user_id, value: logged_user.id, class: 'input block'
        = f.submit t('links.post.add_comment'), class: 'button is-info is-light is-small is-fullwidth is-outlined is-rounded my-4'
      - post.latest_comments_first[0, 3].each do |comment|
        .columns.is-multiline
          .column
          .column.is-11
            %p.title.is-5
              %span
                %i{class: 'fa-regular fa-comments', style: 'color: #424601;'}
                = comment.user.full_name
            %p
              = comment.description
      - if post.latest_comments_first.length > 3
        .columns.is-multiline
          .column
          .column.is-11
            = link_to 'See more comments', '#', class: 'is-11'

