<h1>Olá mundo</h1>
<table class="table">
  <p><%= current_user.email %></p>
  <p><%= button_to 'Fazer logoff', destroy_user_session_path, method: :delete %></p>
  <p><%= link_to 'Criar uma publicação',  new_post_path %></p>
  <p><%= link_to 'Ver amigos',  friends_path %></p>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col">Descrição</th>
      <th scope="col">Autor</th>
      <th scope="col">Quantidade de curtidas</th>
      <th scope="col">Quantidade de comentários</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= post.id %></td>
      <td><%= post.title %></td>
      <td><%= post.description %></td>
      <td><%= post.user.email %></td>
      <td><%= "#{post.likes.count} Curtidas" %></td>
      <td><%=link_to "#{post.comments.count} Comentários", post_comments_path(post_id: post.id) %></td>
      <% if liked? post %>
        <td>
          <%= button_to 'Descurtir', root_url + "posts/#{post.id}/likes", method: :post  %>
      <% else %>
        <td><span>
          <%= button_to 'Curtir', root_url + "posts/#{post.id}/likes", method: :post  %>
      <% end %>
        </span><%= link_to 'Comentar', new_post_comment_path(post_id: post.id) %>
      </td>
    </tr>
    <% end %>   
  </tbody>
</table>