<%= form_with(model: comment, url: comment_comments_path(comment_id: @comment_parent.id), local: true) do |form| %>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control", placeholder:"Descrição" %>
  </div>
  <%= form.hidden_field :comment_id, value: @comment.id %>
  <div class="actions">
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>