= form_with(model: comment, url: comment_comments_path(comment_id: @comment_parent.id), local: true) do |form|
  .form-group
    = form.label :description
    = form.text_field :description, class: "form-control", placeholder:"Descrição"
  = form.hidden_field :comment_id, value: @comment.id
  .actions
    = form.submit nil, class: "btn btn-primary"
