!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SocialMediaRails
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %nav.navbar.is-primary
      .navbar-brand
        %a.navbar-item{:href => "https://bulma.io"}
          %img{:alt => "Bulma: a modern CSS framework based on Flexbox", :height => "28", :src => "https://bulma.io/images/bulma-logo-white.png", :width => "112"}/
        .navbar-burger{"data-target" => "navMenuColorprimary-example"}
          %span
          %span
          %span
      #navMenuColorprimary-example.navbar-menu
        .navbar-start
          %a.navbar-item{:href => "https://bulma.io/"}
          - if user_signed_in?
            = link_to 'Ver postagens dos amigos', posts_path, class: "navbar-item" 
          
        .navbar-end
          .navbar-item
            .field.is-grouped
              -# %p.control
              -#   %a.bd-tw-button.button{"data-social-action" => "tweet", "data-social-network" => "Twitter", "data-social-target" => "https://bulma.io", :href => "https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&hashtags=bulmaio&url=https://bulma.io&via=jgthms", :target => "_blank"}
              -#     %span.icon
              -#       %i.fab.fa-twitter
              -#     %span
              -#       Tweet
              -# %p.control
              -#   %a.button.is-primary{:href => "https://github.com/jgthms/bulma/releases/download/0.9.3/bulma-0.9.3.zip"}
              -#     %span.icon
              -#       %i.fas.fa-download
              -#     %span Download
          .navbar-item.has-dropdown.is-hoverable
            - if user_signed_in?
              %a.navbar-link{:href => "https://bulma.io/documentation/overview/start/"}
                = current_user.email
            .navbar-dropdown.is-right
              %a.navbar-item{:href => "#"}
                Ver perfil
              = link_to 'Pessoas',  all_users_path, class: "navbar-item"
              = link_to 'Criar uma publicação',  new_post_path, class: "navbar-item"
              %hr.navbar-divider
              = button_to 'Fazer logoff', destroy_user_session_path, method: :delete, class: "navbar-item"
    = yield
