.container
  %h2.title 
    = t('devise.sign_up')
  .box
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "users/shared/error_messages", resource: resource
      .field.is-horizontal
        .field-label.is-normal
          = f.label :email, t('devise.labels.email'), class: "label"
        .field-body
          .field
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-rounded"
      .field.is-horizontal
        .field-label.is-normal
          = f.label :password,  t('devise.labels.password'), class: "label"
          - if @minimum_password_length
            %em
              = "(#{@minimum_password_length} #{t('devise.labels.characters_minimum')})"
        .field-body
          .field
            = f.password_field :password, autocomplete: "new-password", class: "input is-rounded"
      .field.is-horizontal
        .field-label.is-normal
          = f.label :password_confirmation, t('devise.labels.password_confirmation'), class: "label"
        .field-body
          .field
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "input is-rounded"
      .field
        .field-label.is-normal
          .actions
            = f.submit t('devise.links.sign_up'), class: "button is-success"
          = render "users/shared/links"
